.heading {
    margin-left: 0px !important;
}

.icons {
    font-size: 44px;
}

.carousel-img{
overflow: hidden;
height: 330px;
width: auto;
}

.carousel {
    max-height: 400px;
    overflow: hidden;
  }

body {
    overflow-x: hidden;
}